img {
    width:250px;
    height:250px;
}


.movie-tile {
    width:250px;
    height:250px;
    background: url(../img/loading.gif) 50% no-repeat;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    margin-bottom: auto;
}


button {
    width: 250px;
    height: 50px;
}

.movie-tile span{
    text-align:center;
    display:block;
    height: 450px;
    border: 1.5px solid;
}

.bars {

    fill: #B30424;
}

#details {

    margin-left: 700px;
    width: 650px;
    height: 250px;
    border: 1.5px solid;

}

#details div{

    margin-top: 10px;
    color: steelblue;
    font-family: "Comic Sans MS";
}

#sort-buttons {

    margin-top: 20px;
}

#movie-tiles {

    margin-top: 20px;
}
