#movie-tiles img {
    background: url(../img/blank.png) 50% no-repeat;
    border: 1px solid black;
    border-radius: 5px;

}

img {
    width:250px;
    height:250px;
}

#barChart {

    float: left;
    display: inline-block;
    width: 650px;
    height: 450px;
    margin-top: 10px;
    border: 1.5px solid;
}

.axis path,
.axis line {
    stroke: #fff;
    fill: #fff;
    stroke-width: 1px;
}
.axis text {
    font-family: serif;
    font-size: 14px;
}

#barChartsvg {

    width: 650px;
    height: 450px;
}

Strong {

    color: teal;
}

#year-slider {


    width: 1200px;

}

.tick text{

    fill: #fff;
}


.mtile-large {
    width:250px;
    height:250px;
    background: url(../img/blank.png) 50% no-repeat;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: auto;
}


.mtile-small {
    width:165px;
    height:125px;
    background: url(../img/blank.png) 50% no-repeat;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: auto;
}

button {
    width: 250px;
    height: 50px;
}

#movie-tile span{
    text-align:center;
    display:block;
    height: 450px;
    border: 1.5px solid;
}

.bars {

    fill: teal;
}

#movie-tiles {


    margin-top: 20px;
}

#firstDiv{

    height: auto;
}
#details {

    display: inline-block;
    width: 450px;
    height: 450px;
    margin-left: 10px;

    border: 1.5px solid;
    margin-top: 10px;

}

#firstDiv{


    height: 450px;

}

#details div{

    margin-top: 10px;
    color: teal;
    font-weight: bold;
    font-family: "Comic Sans MS";
}

#sort-buttons {

    margin-top: 20px;
}

#content2 > div {

    margin-top: 20px;
}