
.show {
    display: inline;
}

.hide{

    display: none;
}

.icons {

    border: #838383;


}

.hightlightedrect {


    fill: maroon;
}

p{

    margin: 10px;
    text-align: center;
}

rect {

    fill: teal;
}

.mainContainer{

    display: inline-block;
    height: 30px;
    width: 100px;
    padding: 0px;
    outline: none;

}

.firstimage{

    margin-left: 43%;
}

.size{

    height: 25px;
    width: 30px;
}

.node circle {
    stroke: #000;
    stroke-width: 2px;
}

html {
    
    background-image: url("../img/light-green-website-plain-background-for-website-560540430.jpg");
    background-size:cover;

}

p {

    color: white;
}

.node {
    stroke: #000;
    stroke-width: 2px;
}

.actor {

    fill: firebrick;
    stroke: #000;
    stroke-width: 2px;
}

.node:hover {

    stroke:green;
    stroke-width: 5px;
}

line {
    stroke: #000;
    stroke-width: 2px;
}

.link {
    stroke: #000;
    stroke-width: 2px;
}


#wrapper{

    margin-left: 10%;
    margin-right: 10%;
}

#content1 div, select{

    margin-top : 20px;
    margin-left: 20px;
}

h3,h1,h2,h4,h5 {

    color: #fff;
    text-align: center;
}


div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto ;
    padding: 2px;
    font: 12px comic sans;
    background: teal;
    border: 0px;

    pointer-events: none;
}

#content1 select {

    margin-left:45% ;
    width: 150px;
}


