
.show {
    display: inline;
}

.hide{

    display: none;
}

.icons {

    border: #838383;


}

.mainContainer{

    display: inline-block;
    height: 30px;
    width: 100px;
    padding: 0px;

}

.firstimage{

    margin-left: 43%;
}

.size{

    height: 25px;
    width: 30px;
}

.node circle {
    stroke: #000;
    stroke-width: 2px;
}

html {
    
    background-image: url("../img/background-15.jpg");
}

p {

    color: white;
}

.node {
    stroke: #000;
    stroke-width: 2px;
}

line {
    stroke: #000;
    stroke-width: 2px;
}

.link {
    stroke: #000;
    stroke-width: 2px;
}

